body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ededed;
}

* {
  box-sizing: border-box;
}

li{
  list-style: none;
}
.task-component {
  margin-bottom: 30px;
  background: white;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.12);
  padding: 25px 15px;
  margin: 10px auto 30px auto;
  max-width: 80%;
}

.task-list-component::after {
  clear: both;
  content: '';
  display: block;
}

.task-component-title {
  margin-top: 0px;
  margin-bottom: 30px;
}

.task-list-component li {
  text-align: left;
  list-style: none;
}

.task {
  text-align: left;
  position: relative;
  width: 300px;
  margin: 15px;
  background: white;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.12);
  padding: 15px 10px;
  padding-right: 40px;
}


.task .task-text {
  margin: 0;
}

.task .task-title {
  margin: 0;
}

.task-checkbox {
  background: #c1e8d7;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.task-checkbox.checked-true {
  background: #0bd87b;
}

.modal-component {
  position: fixed;
  background: white;
  padding: 30px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 100vw rgba(100, 100, 100, 0.2);
  text-align: left;
  z-index:2;
}

.modal-component-form-field input {
  border: 0;
  border-bottom: 1px solid #222;
  padding: 2px 5px;
  outline: none;
}

.modal-component-form-field {
  margin-bottom: 10px;
}

.modal-component label {
  display: block;
  font-size: 12px;
  color: #222;
  margin-bottom: 5px;
}

button.button {
  padding: 10px 20px;
  background: #2387c3;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 30px;
  cursor: pointer;
}

button.button.cancel {
  background: #e82121;
}

button.modal-component-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding:0;
  
  width: 20px;
  height: 20px;
  background: #ededed;
  color: black;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  z-index: 1;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.modal-component-open {
  width: 50px;
  height: 50px;
  background: #0e5594;
  color: white;
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  cursor: pointer;
  border: 0;
  outline: 0;
}
